doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Deliverables
     body
    h1 Deliverables
    a(href="/update-cobj?id=14384526940" class="add-update-link") Add / Update this table
    table.table(style='width:100%', border='1')
      thead
        tr
          th Id
          th Name
          th Client
          th Status

      tbody
        each deliverable in data
          tr
            td #{deliverable.id}
            td #{deliverable.properties.deliverable_name}
            td #{deliverable.properties.client}
            td #{deliverable.properties.status} 
